.App {
    text-align: center;
}

nav {
    font-family: "Karla";
	font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
}
nav > p {
    font-size: 25px;
    font-weight: 700;
}

button {
	background-color: #FDA5A4;
	font-family: "Karla";
    padding: 10px 30px;
    border-style: none;
	font-weight: 700;
    cursor: pointer;
}


.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 10%;
}
.buy{
    padding-top: 5%;
    text-align: left;
}

#nft {
    width: 75%;
}

h2 {
    font-family: "Karla";
	font-weight: 700;
    font-size: 25px;
}